!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ site_title }
    link(rel="stylesheet", href="/assets/css/app.css")
    script(src="#{ site_url }/assets/js/dug.js").
    link(href='http://fonts.googleapis.com/css?family=Quando', rel='stylesheet', type='text/css')
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    header
      != partial("_partials/header")
    != yield

    hr
    != partial("_partials/footer")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="#{ site_url }/assets/bootstrap.min.js").
    script(src="#{ site_url }/assets/js/app.js").
